<div class="footer">
    <div class="container py-5  ">
        <div class="row py-5  text-center ">
        <div class="col-md-4 text-white ">
         <h3 class="fw-bold  ">LOCATION</h3>
         <p>2215 John Daniel Drive</p>
         <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 text-white  ">
            <h3 class="fw-bold ">AROUND THE WEB</h3>
             <ul class="d-flex list-unstyled justify-content-center p-3      align-items-center   ">
            <li><div class="icon d-flex justify-content-center align-items-center "><i class="fa-brands fa-facebook fs-5  "></i></div></li>
            <li><div class="icon d-flex justify-content-center align-items-center "><i class="fa-brands fa-twitter fs-5  "></i></div></li>
            <li><div class="icon d-flex justify-content-center align-items-center "><i class="fa-brands fa-linkedin fs-5  "></i></div></li>
            <li><div class="icon d-flex justify-content-center align-items-center "><i class="fa-solid fa-globe fs-5  "></i></div></li>

             </ul>
           </div>
           <div class="col-md-4 text-white ">
            <h3 class="fw-bold ">ABOUT FREELANCER </h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route </p>
            
           </div>

        </div>

    </div>
    <div class="text-center py-4 footer-part text-white  ">
        <p>Copyright &#169; Your Website 2021</p> 
     </div>

</div>