<div class="about py-5  mt-5 ">
    <div class="container  py-5 mt-5  ">
        <h1 class="text-white text-center ">ABOUT COMPONENT</h1>
        <ul class="d-flex justify-content-center           align-items-center  list-unstyled w-20  "> 
            <li class="mx-3 ">
                <span class="line"></span>
            </li>
            <li><i class="fa-solid fa-star py-3 fs-4 text-white  "></i>
            </li>
            <li class="mx-3 ">
                <span class="line"></span>
            
            </li>
        </ul>
        <div class="d-flex text-white justify-content-evenly   align-items-center     ">
    <p class="w-40 " >Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
    <p class="w-40   ">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> 
     </div>
    </div>
</div>