<div class="contact pt-4 ">
    <div class="mt-5  text-center pt-5   ">
        <h1>CONTACT SECTION</h1>
    <ul class="d-flex justify-content-center           align-items-center  list-unstyled w-20  "> 
        <li class="mx-3 ">
            <span class="line"></span>
        </li>
        <li><i class="fa-solid fa-star py-3 fs-4   "></i>
        </li>
        <li class="mx-3 ">
            <span class="line"></span>
        
        </li>
    </ul>
    </div>
    
    <div class="container-fluid py-5    ">
    <div class="row">
    <div class="col-12 ">
        <div class="w-50  text-center m-auto mb-5  ">
            <input type="text" class="form-control     " placeholder="userName">
            </div>
          

    </div>
    <div class="col-12 ">
        <div class="w-50  text-center m-auto mb-5  ">
            <input type="text" class="form-control     " placeholder="userAge">
            </div>
          

    </div>
    <div class="col-12 ">
        <div class="w-50  text-center m-auto mb-5  ">
            <input type="text" class="form-control     " placeholder="userEmail">
            </div>
          

    </div>
    <div class="col-12 ">
        <div class="w-50  text-center m-auto mb-5  ">
            <input type="text" class="form-control     " placeholder="userPassword">
            </div>
          

    </div>
    <div class="col-12 ">
        <!-- <div class="w-50  text-center m-auto mb-5  ">
            <input type="text" class="form-control     " placeholder="userName">
            </div> -->

            <div class=" w-50 m-auto   ">
                <button type="submit" class="btn main-color    ">Send Message</button>

            </div>

    </div>

    </div>

   
    
    </div>

</div>



