<div class="home py-5  d-flex justify-content-center align-items-center flex-column mt-5">
<div class="py-3 mt-5 ">
 <img src="./assets/images/avataaars.svg" alt="avatar" height="250px" >   

</div>  
<h1 class="text-white fw-bolder  ">START FRAMEWORK</h1>
<ul class="d-flex justify-content-evenly      align-items-center  list-unstyled w-20  "> 
<li>
    <span class="line"></span>
</li>
<li><i class="fa-solid fa-star py-3 fs-4 text-white  "></i>
</li>
<li>
    <span class="line"></span>

</li>
</ul>
<p class="text-white fs-6">Graphic Artist - Web Designer - Illustrator</p>
</div>